@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;

    --color-primary: #3B82F6;
    --color-secondary: #0EA5E9;
    --color-accent: #FACC15;
    --color-neutral: #111827;
    --color-base-100: #F9FAFB;
}